# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
version.py

# Distribution / Build Artifacts
build/
dist/
*.spec

# Database (Auto-downloaded by build.py)
src/database/*.csv

# IDEs
.idea/
.vscode/

# macOS System Files
.DS_Store
._*